*{
	margin: 0;
	padding: 0;
}
.header{
	width: 100%;
	margin-top: 12px;
	margin-bottom: 12px;
}
.container{
	width: 1140px;
	margin: auto;
}
.nav{
	display: flex;
	justify-content: space-between;
}
.logo img{
	width: 100px
}
.menu ul li{
	list-style: none;
	display: inline-block;
	margin-right: 8px;
	margin-left: 8px;
    line-height: 70px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #1e266d;
}
.menu-btn{
	margin-top: 18px;
}
.menu-btn button{
	background-color: #2e367d;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border: none;
	font-size: 16px;
}
.menu-btn button:hover{
	background-color: #00AEEF;
}
/*
banner content css
*/
.banner{
	width: 100%;
}	
.banner-content{
	display: flex;
	margin-top: 50px;
	margin-bottom: 50px;
}
.banner-right img{
	width: 100%;
	height: auto;
}
.banner-left h2{
	color: #1e266d;
	font-size: 45px;
	line-height: 50px;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 20px;
}
.banner-left p{
	color: #1e266d;
	font-size: 22px;
	font-family: 'Open Sans', sans-serif;
	line-height: 28px;
	font-weight: 300;
	margin-bottom: 20px;
}
.banner-left{
	margin-top: 70px;
}
.banner-left button{
	background: #2e367d;
	color: white;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-left: 32px;
	padding-right: 32px;
	border: none;
	font-size: 16px;
	border-radius: 6px;
}
.banner-left button:hover{
	background-color: #00AEEF;
}



.banner-2 .banner-left{
	flex-basis: 40%;
}
.banner-2 .banner-right{
	flex-basis: 60%;
}
.banner-2 .banner-left p{
	font-size: 16px;
	color: #526375;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 0px;
}



.about{
	width: 100%;
	padding-top: 40px;
	padding-bottom: 40px;
}
.about-content h2{
	font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    color: #1e266d;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}
.about-content p{
    font-size: 16px;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    line-height: 28px;
    font-weight: 400;
    margin-top: 0px;
}



.address-content{
	background-color: #2e367d;
	border-radius: 8px;
	padding-top: 80px;
	padding-bottom: 80px;
	padding-right: 60px;
	padding-left: 60px;
}
.address-content{
	display: flex;
}
.address-left{
	flex-basis: 50%;
}
.address-right{
	flex-basis: 50%;
}
.address-left h2, .address-right h2{
	 font-family: 'Open Sans', sans-serif;
	 font-size: 24px;
	 color: white;
	 margin-bottom: 20px;
	 line-height: 28px;
}
.address-left p, .address-right p{
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 10px;
}



.footer{
	width: 100%;
	padding-top: 60px;
	padding-bottom: 60px;
}
.footer-content{
	display: flex;
}
.footer-1, .footer-2, .footer-3, .footer-4{
	flex-basis: 25%;
}
.footer-1, .footer-2, p{
	font-family: 'Open Sans', sans-serif;
	color: #526375;
	font-weight: 400;
	line-height: 26px;
	font-size: 16px;
	overflow-x: hidden;
    display: block;
}
.footer-1, .footer-2, .footer-3, .footer-4 h5{
	color: #1e266d;
    font-size: 16px;
}
.footer-3, .footer-4 ul li{
	list-style: none;
	font-size: 16px;
	overflow-x: hidden;
    color: #526375;
}


